@import "zeroing.css"; //Обнуление
/*--------------------------------------------------------------------------------------------------------------------*/

//HEADER
.header-container{
  max-width: 944px;
  min-height: 88px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .menu{
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
    margin-bottom: 32px;
    .menu__link{
      color: #828282;
      margin-left: 155px;
    }
    .menu__link:hover{
      color: #070707;
    }
    .menu__link:first-child{
      margin-left: 0;
    }
  }
  .line-bottom{
    width: 925px;
    height: 1px;
    border: 1px solid #828282;
    margin-bottom: 40px;
  }
}


//MAIN
.container__info{
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 31px;
  .block-name{
    max-width: 123px;
    min-height: 118px;
    font-size: 47px;
    line-height: 59px;
  }
  .block-profession{
    max-width: 155px;
    min-height: 44px;
    font-size: 18px;
    line-height: 22px;
  }
  .block-language{
    display: flex;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 5px;
    .language__RU{
      font-size: 16px;
      line-height: 20px;
      color: #828282;
    }
    .language__ENG{
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }
}
.container__slider{
  max-width: 944px;
  min-height: 388px;
  display: flex;
  margin: 0 auto;
}

